
<body>
    <app-navigate></app-navigate>
    <br>
    <br>
    <br>
    <br>
  <form [formGroup]="myForm" class='myfor' (ngSubmit)="updateAddress()">



<div class="login-wrap1">
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Client</label>
    <div class="login-form">
<br><br>
<tr>
    <td>
            <div class="group">
            <label  class="label" for="libelle">Libellé:</label>
            <input class="input" type="text" id="libelle" name="libelle" formControlName="libelle" required  >
        </div>
    </td>
<td>
        <div class="group">
            <label  class="label" for="numtva">Numéro TVA:</label>
            <input class="input" type="text" id="numtva" name="numtva" formControlName="numtva" required>
        </div>
      </td>
     </tr>
     <br>
    <label  class="label" for="pays" style="padding-left: 10px; padding-right: 1px;">Pays:</label><br>
            <mat-select-country class="input" style="padding-left: 10px; padding-right: 1px;" (onCountrySelected)="onCountrySelected($event)">
            </mat-select-country>
            <br>
         <tr>


        <td>
        <div class="group">
            <label  class="label" for="address" >Adresse:</label>
            <td>
            <input class="input" type="text"  id="ville" name="ville" placeholder="Ville" formControlName="ville" required (input)="updateAddress()"><br>
        </td>
         <td>
            <input class="input" type="text"  id="rue" name="rue"  placeholder="Rue"  formControlName="rue" required (input)="updateAddress()"><br>
        </td>
         <td>
            <input class="input" type="text" id="codePostal" name="codePostal" placeholder="Code-Postal"  formControlName="codePostal" required (input)="updateAddress()"><br>
        </td>
        </div>
    </td>
</tr>
<br>
        <button class="group"  (click)="save()">
          Sauvegarder
           </button>

        </div>
    </div>
  </div>



</form>
</body>
