<app-navigate></app-navigate>
      <br>
      <br>
      <br>
      <br>
<form [formGroup]="myForm" class='myfor'>


  <div class="login-wrap1">
    <div class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Mission</label>
      <div class="login-form">
  <br><br>


  <td>
    <div class="group">
    <label class="label" for="codemission">codeMission:</label>
    <input class="input" type="text" id="codemission" name="codemission" formControlName="codemission" [value]="selectedMission?.codemission" required readonly>
    </div>
  </td>



  <br>
  <tr>
    <td>
      <div class="group">
      <label class="label" for="datedebut">Date de début:</label>
      <input class="input" type="date" id="datedebut" name="datedebut" formControlName="datedebut" [value]="selectedMission?.datedebut" required readonly>
      </div>
    </td>

    <td>
      <div class="group">
      <label class="label" for="datefin">Date de fin:</label>
      <input class="input" type="date" id="datefin" name="datefin" formControlName="datefin" [value]="selectedMission?.datefin" required readonly>
      </div>
    </td>
  </tr>
  <br>

  <tr>

    <div class="group">
       <label class="label" for="tjm">TJM:</label>
       <input class="input" type="text" id="tjm" name="tjm" formControlName="tjm" [value]="selectedMission?.tjm" required readonly>
    </div>
  <br>

  </tr>
  <tr>
    <td>
  <label class="label" class="form-label" for="clientid"> Client : </label>
  <select class="input" id="clientid" class="form-input" formControlName="clientid" (change)="fillCode()" [value]="selectedMission?.clientid.id" required readonly>
    <option *ngFor="let client of Clients" [value]="client.id" [selected]="client.id===id" readonly>{{ client.libelle }}</option>
  </select>
  </td>



  <td>
  <div  class="group">
    <label class="label" class="form-label" for="salariesid"> Salaries : </label>
    <mat-form-field >
      <mat-label>salariesid</mat-label>
      <mat-select [formControl]="users" multiple (change)="selectSalaries()" >
        <mat-select-trigger >
          {{fillCode()}}
        </mat-select-trigger>
        @for (topping of Salariess; track topping) {
      <mat-option  [value]="topping.id">{{topping.nom}}.{{topping.prenom}}</mat-option>
    }
      </mat-select>
    </mat-form-field>

  </div>
  <br>


  </td>
    </tr>

    </div>
  </div>
  </div>

  </form>
