<body>
  <app-navigate></app-navigate>
  <router-outlet></router-outlet>
<form [formGroup]="myForm" (ngSubmit)="submitForm()" class='myfor'>
<div id="example"><br>


<div class="login-wrap1">
  <div class="login-html">
    <input  autocomplete="off" id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">input</label>
    <div class="login-form">


      <table border="0" width="1200">
        <div class="group">
          <div class="container2">
          <td>
            <label for="cout" class="label">Coût de gestion</label>
            <div class="input-group">

             <input  autocomplete="off" name="cout" type="text" class="input" min="0" max="100" formControlName="cout" >

                <span class="percent-symbol">%</span>
          </div>
              </td>
            </div>
            </div>
            <br>
        <div class="group">
          <div class="container2">

            <td>

          <label for="tjm" class="label">TJM</label>
          <div class="input-container">

            <div class="input-container">  <input  autocomplete="off" name="tjm" type="text" class="input" formControlName="tjm" (ngModelChange)="submitForm()">
            </div>
            </div>
            </td>
            <td>
          <label for="qt" class="label">QT</label>

          <div class="input-container">  <input  autocomplete="off" name="qt" type="text" class="input" formControlName="qt"  (ngModelChange)="submitForm()"  autocomplete="off">
          </div>
          </td>
            <td>
          <label for="facture_ht" class="label">Facture HT</label>

          <div class="input-container">  <input  autocomplete="off" name="facture_ht" type="text" class="input" formControlName="factureht" readonly>
          </div>
          </td>
            <td>
          <label for="dispo" class="label">Dispo </label>

          <div class="input-container">  <input  autocomplete="off" name="dispo" type="text" class="input" formControlName="dispo" readonly>
          </div>
          </td>
        </div>
        </div>
        <div class="group">
          <div class="container2">
            <td>
          <label for="astreintes" class="label">Astreintes</label>

          <div class="input-container">  <input  autocomplete="off" id="astreintes" type="text" class="input" formControlName="Astreintes" (ngModelChange)="submitForm()">
          </div>
          </td>
            <td>
          <label for="user" class="label"></label>

          <div class="input-container">  <input  autocomplete="off" id="user" type="text" class="input" formControlName="qt2" (ngModelChange)="submitForm()">
          </div>
          </td>
            <td>
          <label for="user" class="label"></label>

          <div class="input-container">  <input  autocomplete="off" id="user" type="text" class="input" formControlName="factureht2"readonly>
          </div>
          </td>
            <td>
          <label for="user" class="label"></label>

          <div class="input-container">  <input  autocomplete="off" id="user" type="text" class="input" formControlName="dispo2"readonly>
          </div>
          </td>
        </div>
        </div>
        <div class="group">
          <div class="container2">
            <td>
          <label for="Autres" class="label">Autres </label >

            <div class="input-container">  <input  autocomplete="off" id="Autres" type="text" class="input" formControlName="Autres" (ngModelChange)="submitForm()">
            </div>
            </td>
            <td>
          <label for="user" class="label"></label>

          <div class="input-container">  <input  autocomplete="off" id="user" type="text" class="input" formControlName="qt3" (ngModelChange)="submitForm()">
          </div>
          </td>
            <td>
          <label for="user" class="label"></label>

          <div class="input-container">  <input  autocomplete="off" id="user" type="text" class="input" formControlName="factureht3"readonly>
          </div>
          </td>
            <td>
          <label for="user" class="label"></label>

          <div class="input-container">  <input  autocomplete="off" id="user" type="text" class="input" formControlName="dispo3"readonly>
          </div>
          </td>
        </div>
        </div>
        <div class="group">
          <div class="container2">
            <td>
          <label for="totalDISPOO" class="label">Total Dispo</label>

          <div class="input-container">  <input  autocomplete="off" id="totalDISPOO" type="text" class="input" formControlName="totalDISPOO"readonly >
          </div>
          </td>
        </div>
        </div>
           <br>
          </table>
      </div>
      </div>
      </div>


<br>
<br>




<div class="login-wrap2">
  <div class="login-html">

    <div>  <input  autocomplete="off" id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Salaire et charge</label>
    </div>

    <div class="login-form">
      <table  border="0" width="1200" >

    <h2>Salaire et Frais</h2>

      <div class="group">
        <div class="container">
          <td>
        <label for="BrutAnn" class="label">Brut Ann</label>

        <div class="input-container"> <input  autocomplete="off" id="BrutAnn" type="text" class="input" formControlName="BrutAnn" (ngModelChange)="submitForm()">
        </div>
        </td>
          <td>
        <label for="SalaireBrut" class="label">Salaire Brut</label>

        <div class="input-container">  <input  autocomplete="off" id="SalaireBrut" type="text" class="input" formControlName="SalaireBrut"readonly>
        </div>
        </td>
          <td>
        <label for="SalaireNetHorsPAS" class="label">Salaire Net Hors PAS</label>

        <div class="input-container">  <input  autocomplete="off" id="SalaireNetHorsPAS" type="text" class="input" formControlName="SalaireNetHorsPAS" (ngModelChange)="submitForm()">
        </div>
        </td>
          <td>
        <label for="FraisRepas" class="label">Frais Repas</label>

        <div class="input-container">  <input  autocomplete="off" id="FraisRepas" type="text" class="input" formControlName="FraisRepas" (ngModelChange)="submitForm()">
        </div>
        </td>
          <td>
        <label for="FraisKilo" class="label">Frais Kilo</label>

        <div class="input-container">  <input  autocomplete="off" id="FraisKilo" type="text" class="input" formControlName="FraisKilo" (ngModelChange)="submitForm()">
        </div>
        </td>
          <td>
            <label for="Autresfraissurfacture" class="label">Autres frais sur facture</label>

            <div class="input-container">  <input  autocomplete="off" id="Autresfraissurfacture" type="text" class="input" formControlName="Autresfraissurfacture" (ngModelChange)="submitForm()">
            </div>
            </td>
          <td>
        <label for="totalPercuHorsExtra" class="label">Total Perçu Hors Extra</label>

        <div class="input-container">  <input  autocomplete="off" id="totalPercuHorsExtra" type="text" class="input" formControlName="totalPercuHorsExtra" readonly (ngModelChange)="submitForm()">
        </div>
        </td>
      </div>
      </div>


        <h2>Charge et Annexes</h2>
        <table border="0" width="400" style="margin-left: 2%;">

                <tr >
                    <td><label for="MedécinedeTravail">Medécine de Travail</label></td>
                    <td> <div class="input-container"> <input  autocomplete="off" class='tabb' id="MedécinedeTravail"  type="text" name="MedécinedeTravail" formControlName="MedécinedeTravail" (ngModelChange)="submitForm()"></div></td>
                </tr>

                <tr>
                    <td><label for="taxeDapprentissage">Taxe D'apprentissage</label></td>
                    <td> <div class="input-container"> <input  autocomplete="off" class='tabb' type="text" id="taxeDapprentissage" name="taxeDapprentissage" formControlName="taxeDapprentissage" readonly ></div></td>
                </tr>
                <tr>
                    <td><label for="Adessat">Adessat</label></td>
                    <td> <div class="input-container"> <input  autocomplete="off" class='tabb' type="text" id="Adessat" name="Adessat" formControlName="Adessat"readonly></div></td>
                </tr>
                <tr>
                  <td><label for="taxeCCI">Taxe CCI</label></td>
                  <td> <div class="input-container"> <input  autocomplete="off" class='tabb' type="text" id="taxeCCI" name="taxeCCI" formControlName="taxeCCI"readonly ></div></td>
              </tr>
              <tr>
                <td><label for="continuue">continue</label></td>
                <td> <div class="input-container"> <input  autocomplete="off" class='tabb' type="text" id="continuue" name="continuue" formControlName="continuue"readonly ></div></td>
            </tr>
              <tr>
                <td><label for="AssuranceRespCivile">Assurance. Resp. Civile</label></td>
                <td> <div class="input-container"> <input  autocomplete="off" class='tabb' type="text" id="AssuranceRespCivile" name="AssuranceRespCivile" formControlName="AssuranceRespCivile" (ngModelChange)="submitForm()"></div></td>
            </tr>
            <tr>
              <td><label for="ComplémMutOp1">Complém Mut Op1</label></td>
              <td> <div class="input-container"> <input  autocomplete="off" class='tabb' type="text" id="ComplémMutOp1" name="FraisKilo" formControlName="ComplémMutOp1"(ngModelChange)="submitForm()"></div></td>
          </tr>
                <tr>
                    <td><label for="cvaeSurCAgenere">CVAE sur CA généré (Prorata)</label></td>
                    <td> <div class="input-container"> <input  autocomplete="off" class='tabb' type="text" id="cvaeSurCAgenere" name="cvaeSurCAgenere" formControlName="cvaeSurCAgenere" readonly ></div></td>
                </tr>
                </table>
      <br>


    <h2>Charges sur Salaire</h2>
     <div class="group">
        <div class="container">
            <td>
          <label for="chargesPatronalesURSSAF" class="label">Charges Patronales URSSAF</label>

          <div class="input-container">  <input  autocomplete="off" id="user" type="text" class="input"  id="chargesPatronalesURSSAF" name="chargesPatronalesURSSAF" formControlName="chargesPatronalesURSSAF" (ngModelChange)="submitForm()">
          </div>
          </td>
            <td>
          <label for="chargesSalariales" class="label">Charges Salariales</label>

          <div class="input-container">  <input  autocomplete="off" id="chargesSalariales" type="text" class="input" formControlName="chargesSalariales"(ngModelChange)="submitForm()">
          </div>
          </td>
            <td>
              <label for="chargesPatronalesAnn" class="label">Charges
                Patronales Ann
                (TA, ADESSAT, FP, MT, DADS, RC..)</label>

                <div class="input-container">  <input  autocomplete="off" id="chargesPatronalesAnn" type="text" class="input" formControlName="chargesPatronalesAnn"readonly >
                </div>
                </td>
        </div>
        </div><br>
      <div class="group">
        <div class="container">
        <td>
          <label for="CoutTotal" class="label">Coût Total</label>

          <div class="input-container">  <input  autocomplete="off" id="CoutTotal" type="text" class="input" formControlName="CoutTotal"readonly >
          </div>
          </td>
      </div>
    </div>
  </table>
</div>
</div>
</div>
<br>
 <br>









<div class="login-wrap3">
  <div class="login-html">
    <input  autocomplete="off" id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab"></label>
    <div class="login-form">

      <table  border="0"  width="1200">

        <div class="group">
          <div class="container">
            <td>
          <label for="solde" class="label">solde</label>
          <div class="input-container">
          <input  autocomplete="off" id="solde" type="text" class="input" formControlName="solde"readonly>
          </div>
            </td>
            <td>
          <label for="totalPercu" class="label">totalPercu</label>
          <div class="input-container">
          <input  autocomplete="off" id="totalPercu" type="text" class="input" formControlName="totalPercu"readonly >
          </div>
            </td>
        </div>
        </div>
        <div class="group">
          <div class="container">
            <td>
          <label for="extraPossibleHorsPAS" class="label">Extra Possible Hors PAS</label>
          <div class="input-container">
          <input  autocomplete="off" id="extraPossibleHorsPAS" type="text" class="input" formControlName="extraPossibleHorsPAS"readonly >
          </div>
            </td>
        </div>
        </div> <br>
      </table>

        <div class="group">
          <div class="pos">
          <br>
          <tr>
            <button  (click)="save()">
              sauvgarder
            </button>
            </tr>
        </div>
        </div>
        </div>

</div>
</div>


</div>

</form>
</body>
